.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}
.form-button {
  padding: 10px;
  background-color: rgb(22, 22, 54);
  color: whitesmoke;
  cursor: pointer;
}
